body {
  background-color: black;
}
/* The animation code */
@keyframes appear {
  0%   {opacity: 0; width: 10%; margin: auto;}
  100% {opacity: 1; width: 100%; margin: auto;}
}

/* The element to apply the animation to */
.jumbotron {
  background-color: black;
  /*animation*/
  -webkit-animation: appear 3s;
  animation: appear 3s;
  animation-timing-function: linear;
}

.list-group-item {
  background-color: black;
  color: white;
}

h2 {
  margin: auto;
  color: #f9d9a8;
}

.badge {
  background-color: #f9d9a8;
  color: black;
}
