body {
  background-color: blue;
}

/* The animation code */

@keyframes slide {
  0% {
    top: -50px;
  }
  100% {
    top: 0px;
  }
}

/* The element to apply the animation to */
.display-1 {
  width: 700px;
  height: 227px;
  z-index: 1;
  position: fixed;
  /*animation*/
  -webkit-animation: slide 2s;
  animation: slide 2s;
}
